* {
    margin: 0;
    padding: 0;
}

#map {
    padding: 30px 100px;
}

#map .row {
    display: flex;
}

#map .node {
    display: inline-flex;
    width: 50px;
    height: 30px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#points {
    height: 140px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 20px;
}

#points .points_left {
    width: 200px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#points .point {
    margin: 4px 0;
}

#points .point .text {
    font-size: 16px;
}

#points .point .input_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

#points .point .input_bar p {
    margin: 0 5px;
}

#points .point_center {
    width: 200px;
}

#points .point_right {
    min-width: 200px;
}

#control {
    height: 50px;
    display: flex;
    padding: 0 50px;
    align-items: center;
}
